:root{
    --fuenteHeading: 'PT SANS',sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;
    --h3Font: 'DM Mono', monospace;
    --h4Font: 'Nunito Sans', sans-serif;

    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;
}

html{
    font-size: 62.5%; /*Con este html y body 10px = 1rem   */
    box-sizing: border-box;

}
*, *:before, *:after {
    box-sizing: inherit;
} 
body{
    font-size: 1.6rem; /*Este valor es variable, podemos modificarlo para el tamaño de letra*/
    font-family: var(--fuenteParrafos);
    line-height: 2;
    display: block;
}

/*Globales*/

.contenedor{ /*Hacemos responsivo a los contenedores*/
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;

}

a{
    text-decoration: none;
}

h1, h2, h3, h4{
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

img{
    max-width: 100%;
}

/*Utilidades*/

.no-margin{
    margin: 0;
}

.centrar-texto{
    text-align: center; /*Centramos texto si los px son menores de 768*/
            /*Va de la mano con la línea 95, donde al ser 768px, este
            centrar-texto, queda inservible en ese caso*/
}


/*Header*/

.texto-header{
    text-align: left;
    margin-left: 5rem;
    font-size: 7rem;
    color: black;
 
}
.texto-header .salud{
    display: block;
}


.p-header{
    text-align: left;
    margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 100rem;
    color: black;
    font-family: var(--h4Font);
    font-weight: 400;
}

@media(max-width: 768px){

    .p-header{
        display: block;
        margin-top: 2rem;
    }
}


.header{
    /*Esto se centro simplemente poniendo el div de arriba (contenedor)
    lo que hizo fue empujarlo hacía abajo, no se necesitó código en sí*/

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.header__texto{
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media(min-width: 768px){
    .header__texto{
        margin-top: 15rem;
    }
}


.header-nav{
    width: 100%;
    max-width: auto;

}


.barra{
    background-color: white;
}

@media(min-width: 768px){
    .barra{                /*Alineamos la barra de navegación*/
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: auto;

    }
}

.logo{
    color: var(--negro);
    margin-left: 6rem;
}

.logo__nombre{
    font-weight: normal;/*o 400*/
}

.logo__bold{
    font-weight: bold;/* o 700*/
}

.navegacion__enlace{/*Validamos los enlaces en dispositivos móviles (Los 3 enlaces se
    verán en columnas o entras palabras, hacia abajo)*/
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media(min-width: 768px){ /*Los 3 enlaces del heading (parte superior de la página)
    se verán en línea para mas de 768px*/
    .navegacion{
        display: flex;
        gap: 4rem;
        margin-right: 6rem;
    }
}

@media(min-width: 768px){ /*Se hace responsiva la sección de las imagenes y la barra lateral
    esto se mostrará si los píxeles de la página son mayores a 768, si no, se mostrará en 
    columnas (en fila hacia abajo)*/
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}

.entrada{ /*Se crea la línea de debajo de los botónes, para separar las secciones de forma visual*/
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type{/*A la última entrada se le aplica esto (último article en html)
    quita la última línea creada en .entrada, para que se vea mejor*/
    border: none;
    margin-bottom: 0
}




.boton{/*Se modifica el enlace para que parezca un botón y haga su misma función*/
    display: block;
    font-family: var(--fuenteHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;

}

.boton--primario{ /*Se coloca este color de fondo a los botones primarios*/
    background-color: var(--negro);
}
.boton--secundario{
    background-color: var(--primario);
}

@media(min-width: 768px){/*Para que el botón no tome todo el ancho despues de
    768px (se hace mas chico y además, no elimina sus width, margin, height etc,
    esto para una mejor aparaiencia)*/
    .boton{
        display: inline-block;
    }
}
.btn-header{
    display: table;
    margin: 2rem 0 0 5rem;
    font-family: var(--h4Font);
    font-weight: 700;
    background-color: #D6EFA4;
    color: #000000;
}

@media (max-width: 768px){
    .btn-header{
        width: 90%;
        display: block;
    }
}


.widget{ /*Se crea la línea de debajo de los cursos,
    para separar las secciones de forma visual*/
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
}





/*Footer*/

.footer{ /*Hace que el footer (la barra de abajo, sea completamente negra)
    y la hace mas grande hacia arriba y abajo*/
    background-color: var(--negro);
    padding: 4rem;
    margin-top: 4rem;
}

.logo__nombre-footer{ 
    color: var(--blanco);
    font-weight: normal;
      
}

.navegacion-footer{
    margin-top: 2rem;
}

.navegacion__enlace{/*Validamos los enlaces en dispositivos móviles (Los 3 enlaces se
    verán en columnas o entras palabras, hacia abajo)*/
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--negro);
}

@media(min-width: 768px){ 
    .footer-elementos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion-footer{/*Ahora los enlaces se separan pero solamente a lo ancho
        entre sí y se convierten en filas porque antes estaban en columnas (en
        .navegacon__enlace línea 240)*/
        display: flex;
        gap: 2rem;
        margin-top: 0;
    }
}


/*Hongos*/
.entrada-hongos{
    background-color: #EEAA7F;
    display: block;
    text-align: center;
    padding-bottom: 5rem;
    font-size: 20rem;
    text-transform: uppercase;

}
.p-hongos{
    max-width: 80rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.entrada-hongos p{
    font-family: var(--h3Font);
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;

}

.img-hongo{
    height: 7rem;
    margin-top: 20rem;
}

.entrada-hongos h3{
    font-size: 4rem;
    line-height: 5rem;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;

}

/*Beneficios*/


.beneficios{
    display: grid;
    grid-template-rows: repeat(3,1fr);
    align-items: center;
    
}

.beneficios-header, .beneficios-iconos1, .beneficios-iconos2{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem 0 5rem;

}

.beneficios-header p{
    max-width: 35rem;
    font-size: 1.8rem;
}
.beneficios-header h2{
    max-width: 40rem;
    font-size: 5rem;
    text-transform: uppercase;
}

.beneficios-iconos1, .beneficios-iconos2{
    margin: 0 30rem 0 30rem;
}

.beneficios-iconos1 h3, .beneficios-iconos2 h3{
    max-width: 22rem;
    text-align: center;
    text-transform: uppercase;
    margin-top: 15rem;
}

.btn-iconos{
    max-width: 30rem;
    margin: 0 auto 0 auto;
    text-transform: inherit;
    background-color: #EEAA7F;
    color: black;
    font-size: 2.2rem;

}

@media(max-width: 768px){
    .beneficios{
        display: block;
    }

    .beneficios-header, .beneficios-iconos1, .beneficios-iconos2{
        margin: 0 auto 0 auto;
        
    }
    .beneficios-header{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .widget{
        width: 90%;
    }

}

/*Experiencia*/
.experiencia{
    background-color: #899FC4;
    margin: 7rem 0 0 0;
    padding: 4rem 0 12rem 0;
}

.experiencia h2{
    color:#D6EFA4;
    text-transform: uppercase;
}

.experiencia-header{
    margin: 0 auto;
    text-align: center;
}
.experiencia-header p{
    max-width: 55rem;
    align-items: center;
    margin: 0 auto;
}

.stats{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0 5rem;
    margin-top: 7rem;
    align-items: baseline;
}

.stats .widget{
    max-width: 30rem;
    margin: 3rem auto;
}

.stats h2{
    background-color: #D6EFA4;
    color: black;
    text-align: center;
    font-size: 8rem;
    max-width: 50rem;
}

.stats p{
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
}

@media (max-width: 768px){

    .stats{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
    }
}


/*Testimoniales*/
.testimonios{
    background-color: rgb(248, 243, 243);
    margin: 0;
    padding: 5rem;
}

.testimonios h2{
    text-transform: uppercase;
    text-align: center;
    max-width: 50rem;
    margin: 0 auto;
}

.blockquotes{
    margin: 5rem auto 0 auto ;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 100rem;
}

.testimonio{
    padding: 3rem;
}
.testimonio h3{
    margin: 0;
    line-height: 0;
}
.testimonio h4{
    text-transform: uppercase;
    font-size: 2.2rem;
}
blockquote{
    background-color: white;
}

@media (max-width: 768px){
    .blockquotes{
        display: block;
    }
}


/*Fórmulas*/
.formulas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-color: #CEC5B4;
    padding: 6rem;
}
.texto-formulas{
    margin-left: 50rem;
    max-width: 90rem;
}

.texto-formulas h2{
    font-size: 10.5rem;
    margin: 0 0 3rem 0;
    font-weight: 400;
    
}

.texto-formulas p{
    font-size: 2rem;

}

.btn-formulas{
    margin-top: 3rem;
    background-color: #D6EFA4;
    color: black;
    text-transform: inherit;
    padding: 1rem 6rem;
}

